.header {
  background-image :url(https://github.com/754Bree/Personal-portfolio-page-redone-/blob/master/my%20terminal%202.jpg?raw=true);
  height: 450px ;
  text-align: center;
  padding-top: 12%;
  color: yellow;
}
.Home{
  text-align: center;
  color: black;
  padding-top: 5%;
}
.About {
  background-image: url(https://github.com/754Bree/Personal-portfolio-page-redone-/blob/master/Resized%20destop.jpg?raw=true);
  filter: blur(4px);
  text-align: center;
  color: yellow;

}







/*body {
  background-image: repeating-linear-gradient(Yellowgreen ,grey);
 /*background-image: Black, grey;
  text-align: center;
  height:1700px;
  color:rgb(22, 19, 19);
  font-family: 'Playfair Display', serif;
  font-size: larger;
}
li {
  display: inline;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color:grey;
}*/
