body{
  text-align: center;
  background-image: repeating-linear-gradient(rgb(97, 28, 28), black);
   font-family: 'Playfair Display', serif;
  font-size: medium;
}




.header {
  background-image :url(https://github.com/754Bree/Personal-portfolio-page-redone-/blob/master/my%20terminal%202.jpg?raw=true);
  height: 400px;
  text-align: center;
  padding-top: 10px;
  color: coral;
}
.Home{
  text-align: center;
  color: whitesmoke;
  padding-top: 4px;
}
.About {
  height: 500px;
  text-align: center;
  color:coral;

}
.Projects {
  padding-top: 150px;
  padding-bottom:50px ;
  color: whitesmoke;
}
.Contact {
  padding-top: 10px;
  color: coral;
}






/*body {
  background-image: repeating-linear-gradient(Yellowgreen ,grey);
 /*background-image: Black, grey;
  text-align: center;
  height:1700px;
  color:rgb(22, 19, 19);
  font-family: 'Playfair Display', serif;
  font-size: larger;
}
li {
  display: inline;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color:grey;
}*/
